section.audit-questions {
  background: #fff;
  border: 1px solid $base-border-color;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
  border-radius: 3px;

  .total-score {
    border-bottom: 1px solid $base-border-color;
    padding: 1.4em;

    > span {
      margin-right: 0.4em;
    }
  }

  ul.questions {
    li.question {
      border-bottom: 1px solid $base-border-color;
      padding: 1.4em 1em 1.4em 1.2em;
      position: relative;

      &:before {
        @include position(absolute, 26px 0 0 -2px);
        background: $medium-gray;
        border: 1px solid darken($medium-gray, 10%);
        border-radius: 0 3px 3px 0;
        content: '';
        display: none;
        height: 12px;
        width: 10px;
      }

      &:last-child {
        border-bottom: none;
      }
    }

    li.redo {
      padding: 1.4em 1em;
      text-align: center;
    }
  }

  p.question {
    font-weight: bold;
  }

  .options-group {
  }

  .input-wrapper {
    @include clearfix;
    margin-bottom: 0.6em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  label {
    font-weight: normal;
    margin: 0 0 0 1.4em;
  }

  input[type="radio"] {
    display: inline-block;
    float: left;
    margin: 4px 0 0 0;
    vertical-align: middle;
  }

  .submit-answers {
    border-top: 1px solid $base-border-color;
    margin-top: 1.2em;
    padding: 1.2em 1em;
  }
}
