.home {
  display: table;
  height: 100%;
  width: 100%;
  padding: 1.5em 0em;

  .inner-wrapper {
    display: table-cell;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    padding-top: 2em;
  }
}

a.route-list {
  background: rgb(255,255,255);
  border-radius: 3px;
  border: 1px solid $base-border-color;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
  color: $base-font-color;
  display: block;
  padding: 0.7em 1em;
  margin: 0 0.6em 1.5em 0.6em;

  &:hover {
    color: $blue;
  }

  h2 {
    font-weight: 300;
    font-size: 1.6em;
  }

  .stats {
    color: $light-font-color;
    letter-spacing: 1px;

    span.stat {
      & + span.stat {
        margin-left: 1em;
      }

      > span {
        font-weight: bold;

        &.complete {
          color: $teal;
          margin-left: 0.4em;
        }
      }
    }
  }
}
