ul.audit-locations {
  background: #fff;
  border: 1px solid $base-border-color;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
  border-radius: 3px;
  margin: 0;
  padding: 0;

  li.empty {
    padding: 2em 1em;

    p.message {
      color: $light-font-color;
      margin: 0;
      text-align: center;
    }
  }

  li.location {
    border-bottom: 1px solid $base-border-color;
    position: relative;

    &:before {
      @include position(absolute, 0em 0 0em 19px);
      background-color: $base-border-color;
      content: '';
      display: block;
      width: 2px;
      z-index: 1;
    }

    &:after {
      @include position(absolute, 0.6em 0.3em 0 0);
      content: '\f105';
      color: $light-gray;
      display: block;
      font-family: "FontAwesome";
      font-size: 2em;
    }

    &:first-child {
      border-radius: 3px 3px 0 0;
    }

    &:last-child {
      border-bottom: none;
      border-radius: 0 0 3px 3px;
    }

    > a {
      color: $base-font-color;
      display: block;
      padding: 0.7em 1em 0.9em;
      position: relative;

      &:hover {
        color: $base-accent-color;
      }
    }
  }

  .status {
    @include position(absolute, 1.2em 0 0 8px);
    @include size(20px);
    background-color: #fff;
    border: 2px solid $base-border-color;
    border-radius: 50%;
    z-index: 2;

    &.finished {
      background-color: $teal;
      border-color: darken($teal, 15%);
    }
  }

  .info {
    margin-left: 1.6em;
    line-height: normal;
    overflow: hidden;

    span.type {
      color: $light-font-color;
      display: block;
      font-size: 0.7em;
      font-weight: 800;
      letter-spacing: 1px;
      line-height: normal;
      margin-bottom: 0.1em;
      text-transform: uppercase;
    }

    h3 {
      font-size: 1.2em;
      font-weight: 300;
      line-height: normal;
    }
  }
}
