// Typography
///////////////////////////////////////////////////////////////////////////////
$sans-serif: $helvetica;
$serif: $georgia;

$base-font-family: $sans-serif;
$header-font-family: $base-font-family;

// Sizes
///////////////////////////////////////////////////////////////////////////////
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$base-border-radius: em(3);

// Colors
///////////////////////////////////////////////////////////////////////////////

$dark-gray: #333;
$medium-gray: rgb(180,180,180);
$light-gray: #DDD;

$light-red: #FBE3E4;
$light-green: #E6EFC2;

$aqua: #7FDBFF;
$blue: #0074D9;
$green: #2ECC40;
$lime: #01FF70;
$navy: #001F3F;
$purple: #B10DC9;
$teal: #39CCCC;
$yellow: #FFDC00;
$light-yellow: lighten($yellow, 15%);

// Body Color
$base-body-color: white;

//  Font Colors
$base-font-color: $dark-gray;
$light-font-color: $medium-gray;
$base-accent-color: $purple;

//  Text Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);

// Border color
$base-border-color: $light-gray;

// Flash Colors
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;
