// Typography
///////////////////////////////////////////////////////////////////////////////
$sans-serif: $helvetica;
$serif: $georgia;

$base-font-family: $sans-serif;
$header-font-family: $base-font-family;

// Sizes
///////////////////////////////////////////////////////////////////////////////
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$base-border-radius: em(3);

// Colors
///////////////////////////////////////////////////////////////////////////////

$dark-gray: #333;
$medium-gray: rgb(180,180,180);
$light-gray: rgb(226, 230, 235);

$light-red: #FBE3E4;
$light-green: #E6EFC2;

$aqua: #7FDBFF;
$blue: #0074D9;
$blue: #4CA0FF;
$green: #2ECC40;
$lime: #01FF70;
$navy: #001F3F;
$peach: #F7707D;
$purple: #B10DC9;
$teal: #57DDCF;
$yellow: #FFDC00;
$light-yellow: lighten($yellow, 15%);
$violet: #7767D9;

// Body Color
$base-body-color: white;

//  Font Colors
$base-font-color: $dark-gray;
$base-font-color: rgb(67, 70, 76);
$light-font-color: $medium-gray;
$light-font-color: rgb(142, 151, 169);
$base-accent-color: $blue;

//  Text Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);

// Border color
$base-border-color: $light-gray;

// Flash Colors
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;
