.question-wrapper {
  @include clearfix;
  padding: 8em 0em;

  article {
    &~ article {
      margin-top: 4em;
    }
  }

  ul.questions {
    background: #fff;
    border-radius: 3px;
    border: 1px solid $base-border-color;

    li {
      border-bottom: 1px solid $base-border-color;

      &:first-child {
        padding: 1em;
      }

      &:last-child {
        border-bottom: none;
      }

      h2 {
        font-weight: 300;
        margin-bottom: 0;
      }

      a {
        color: $light-font-color;
        display: block;
        padding: 1em;

        &:hover {
          color: $base-accent-color;
        }
      }
    }
  }
}
