table.answer-matrix {
  tr {
  }

  td {
    text-align: center;

    &.colored {
      background: $peach;

      $highlight: darken($peach, 24%);
      $count: 0;

      @for $i from 1 through 5 {
        $count: $count + 1;
        $percent: percentage(($count * 12)/100);

        &.score-#{$i} {
          background: lighten($highlight, $percent);
        }
      }
    }
  }
}
