.data-set {
  @include clearfix;
}

.table-wrapper {
  float: left;
  width: 48%;

  &~ .table-wrapper {
    margin-left: 4%;
  }
}

table.answer-matrix {
  tr {
  }

  td {
    text-align: center;

    &:first-child {
      font-size: 0.8em;
      text-align: left;
      width: 60%;
    }

    &.colored {
      background: $peach;

      $highlight: darken($peach, 40%);
      $count: 0;

      @for $i from -2 through 5 {
        $count: $count + 1;
        $percent: percentage(($count * 10)/100);

        &.score-#{$i} {
          background: lighten($highlight, $percent);
        }
      }
    }
  }
}
