ul.answers {
  background: #fff;
  border: 1px solid $base-border-color;
  border-radius: 3px;
  margin-bottom: 2em;
  padding: 1em;

  li.answer {
    margin-bottom: 0.4em;

    &:last-child {
      margin-bottom: 0;
    }

    span.score {
      font-weight: bold;
      margin-right: 0.4em;
    }
  }
}

.data-set {
  @include clearfix;
}

.table-wrapper {
  float: left;
  width: 48%;

  &~ .table-wrapper {
    margin-left: 4%;
  }
}

table.answer-matrix {
  tr {
    line-height: 1em;
  }

  td {
    text-align: center;

    &:first-child {
      font-size: 0.9em;
      text-align: left;
      width: 60%;
    }

    &.colored {
      background: $peach;

      $highlight: darken($peach, 40%);
      $count: 0;

      @for $i from -2 through 5 {
        $count: $count + 1;
        $percent: percentage(($count * 10)/100);

        &.score-#{$i} {
          background: lighten($highlight, $percent);
        }
      }
    }
  }
}
