.header-spacer {
  height: 54px;
}

header.global {
  @include position(fixed, 0px 0px 0 0px);
  background: rgba(39, 42, 49, 0.9);;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  height: 54px;

  h1 {
    color: rgba(255,255,255, 0.5);
    font-size: 1.2em;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 1em;
    padding: 0.8em;
    text-align: center;
  }
}
