.header-spacer {
  height: 54px;
}

header.global {
  @include box-sizing(border-box);
  @include clearfix;
  @include position(fixed, 0px 0px 0 0px);
  background: rgba(39, 42, 49, 0.9);;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  height: 54px;
  z-index: 10;

  a.back {
    color: rgba(255,255,255, 0.5);
    float: left;
    font-size: 1.8em;
    line-height: 54px;
    padding: 0 0.6em;
    position: relative;
    z-index: 2;

    &:hover {
      color: #fff;
    }
  }

  h1 {
    @include position(absolute, 0px 0 0 0px);
    color: rgba(255,255,255, 0.5);
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 54px;
    text-align: center;
    width: 100%;
    z-index: 1;
  }

  .current-location {
    @include position(absolute, 0px 0 0px 0px);
    padding-top: 0.5em;
    text-align: center;
    width: 100%;

    span.type {
      color: rgba(255,255,255, 0.3);
      display: block;
      font-size: 0.7em;
      font-weight: 800;
      letter-spacing: 1px;
      line-height: normal;
      text-transform: uppercase;
    }

    h2 {
      color: rgba(255,255,255, 0.5);
      font-size: 1.1em;
      font-weight: 300;
      letter-spacing: 1px;
      vertical-align: middle;

      i.fa {
        display: inline-block;
        font-size: 0.7em;
        margin: 0 0.6em 0.2em;
        vertical-align: middle;
      }
    }
  }
}
